body {
  padding-top: 50px;
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.navbar-brand-image {
  height: 34px;
  margin-left: -10px;
  margin-right: 10px;
  margin-top: 4px;
}
.starter-template {
  padding: 15px 15px;
  text-align: center;
}
.navbar-inverse .navbar-brand {
	font-size: 18px;
	color: #fff;
}

/*iphone media tag*/
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    .navbar-inverse .navbar-brand{
        width: 60%;
    }


}

/*other device screen limits*/
@media (min-width: 362px){
    .navbar-inverse .navbar-brand{
        font-size: 9px
    }
}
@media (min-width: 373px)  {
    .navbar-inverse .navbar-brand{
        font-size: 10px
    }
}
@media (min-width: 390px)  {
    .navbar-inverse .navbar-brand{
        font-size: 11px
    }
}
@media (min-width: 398px){
    .navbar-inverse .navbar-brand{
        font-size: 12px
    }
}
@media (min-width: 413px){
    .navbar-inverse .navbar-brand{
        font-size: 13px
    }
}
@media (min-width: 418px){
    .navbar-inverse .navbar-brand{
        font-size: 14px
    }
}
@media (min-width: 431px){
    .navbar-inverse .navbar-brand{
        font-size: 15px
    }
}
@media (min-width: 439px){
    .navbar-inverse .navbar-brand{
        font-size: 16px
    }
}
@media (min-width: 461px){
    .navbar-inverse .navbar-brand{
        font-size: 17px
    }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron {
	margin-top: 30px;
	background: url('../../demo/images/map-gray.png') no-repeat left center;
}

/*h4 {
  margin-top: 25px;
}
*/

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}